body {
  background-image: linear-gradient(135deg,#9A0578, #0D379E, #05010D);
  font-family: 'Open Sans';
  width: 100vw;
  height: 100vh;
  
}

h2 {
  text-align: center;
}

section {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 50px 5px rgba(0,0,0,0.2); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 50px 5px rgba(0,0,0,0.2);
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  margin-top: 100px;
  background-color: white;
  padding: 15px;
  border: 1px solid black;
  border-radius: 7px;   
}

section h1 {
  font-size: 20px;
}

header {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711");
  background-size: contain;
  height: 80px;
  border-radius: 7px;  
}

div {
  padding: 15px;
  border: 1px solid black;
  background-color: rgba(227 235 255 / 49%);
  border-radius: 7px;  
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  transform: translateY(-50%);
  border: 7px solid white;
}
